[Unit]
Description=Keycloak Application Server
After=network.target

[Service]
Type=simple
User=keycloak
Group=keycloak
WorkingDirectory=/opt/keycloak
Environment="KEYCLOAK_ADMIN={{ keycloak_admin_user }}"
Environment="KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}"
Environment="KC_HTTP_ENABLED=true"
Environment="KC_HOSTNAME_STRICT=false"
ExecStart=/opt/keycloak/bin/kc.sh start-dev
StandardOutput=journal
StandardError=journal
SyslogIdentifier=keycloak
SuccessExitStatus=143
TimeoutStartSec=600
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target 